nav.nav-main
    // Hamburger menu : displayed only in small screens
    i#mobilemenu.fa.fa-bars
    // this button only shows on mobile version of a "class" page
    if currentUrl === '/classes/class'
        a(href='/classes/' + currentVersion)
            i#goBackToClassList.fa.fa-arrow-left

    .banner
        .menu
            .do-not-hover#home(class={homeClassMobile: currentUrl === '/classes/class'})
                a(href='/')
                    | Babylon.js | GUIDE
            #begin.item(class={active: currentUrl === '/begins'})
                a(href='/begins.html')
                    | Begin Here
            #basic.item(class={active: currentUrl === '/basics'})
                a(href='/basics.html')
                    | Basics
            #intermediate.item(class={active: currentUrl === '/intermediate'})
                a(href='/intermediate.html')
                    | Intermediate
            #advanced.item(class={active: currentUrl === '/advanced'})
                a(href='/advanced.html')
                    | Advanced

