nav.nav-main
    // Hamburger menu : displayed only in small screens
    i#mobilemenu.fa.fa-bars
    // this button only shows on mobile version of a "class" page
    if currentUrl === '/classes/class'
        a(href='/classes/' + currentVersion)
            i#goBackToClassList.fa.fa-arrow-left

    .banner
        .menu
            .do-not-hover#home(class={homeClassMobile: currentUrl === '/classes/class'})
                a(href='/')
                    | Babylon.js | GUIDE
            #begin.item(class={active: currentUrl === '/begins'})
                a(href='/begins.html')
                    | Begin Here
            #tutorials.item(class={active: currentUrl === '/tutorials'})
                a(href='/tutorials.html')
                    | Tutorials
            #overview.item(class={active: currentUrl === '/overviews'})
                a(href='/overviews.html')
                    | Overviews
            #exporters.item(class={active: currentUrl === '/exporters'})
                a(href='/exporters.html')
                    | Exporters
            #extensions.item(class={active: currentUrl === '/extensions'})
                a(href='/extensions.html')
                    | Extensions
        .more
            .searchbar
                form(method='get', action='/search')
                    input(type='text', name='q', placeholder='Search...')
                    button(type='submit')
                        i.fa.fa-search
