include ../includes/header
    include ../includes/banner
    #wrapper
        .horizontal-separator
        #versionsList
            for version in versions
                if version == currentVersion
                    a(href='./'+version)#version.selectedVersion= 'v'+version
                else
                    a(href='./'+version)#version= 'v'+version
        .sorts
            span#orderByTags.order Tags
            span#orderByAlpha.order A - Z
        #alphaFilter.hidden
            input(type='text' placeholder='Filter class name')
       